<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939889013764-ni9lp5gidm940tgi2k4lv0n9iq79n888.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939889013764-ni9lp5gidm940tgi2k4lv0n9iq79n888</string>
	<key>API_KEY</key>
	<string>AIzaSyCdvrDkE8G3np1HENLyEaIJ6N5eHklH_Wg</string>
	<key>GCM_SENDER_ID</key>
	<string>939889013764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.deliveryAppFominhas.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>deliveryapp-3b8a8</string>
	<key>STORAGE_BUCKET</key>
	<string>deliveryapp-3b8a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939889013764:ios:303c5431da324492c77151</string>
	<key>DATABASE_URL</key>
	<string>https://deliveryapp-3b8a8-default-rtdb.firebaseio.com</string>
</dict>
</plist>